/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Hedvig+Letters+Serif:opsz@12..24&display=swap');

/* Resetting default margin and padding for consistent styling */
body, h1, h2, h3, p, ul, li, table, th, td {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

/* Header styles */
header {
    background-color: rgba(152, 21, 213, 0.952);
    color: #f6f0f0;
    text-align: center;
    padding: 10px;
}

/* Navigation styles using Flexbox for horizontal layout */
nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap; /* Allow navigation items to wrap to the next line on small screens */
}

nav li {
    margin-right: 15px;
    margin-bottom: 10px; /* Add space between navigation items on small screens */
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

nav a:hover {
    border-bottom: 2px solid #fff;
}

/* Section styles */
main {
    padding: 20px;
    padding-bottom: 60px;
    box-sizing: border-box;
}

section {
    margin-bottom: 20px;
}

/* Image styles */
figure {
    margin: 0;
    text-align: center;
}

figcaption {
    margin-top: 10px;
    font-style: italic;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #333;
    padding: 10px;
    text-align: left;
}

/* Footer styles */
footer {
    background-color: #bc0cf7;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative; /* Adjusted position */
    bottom: 0;
    width: 100%;
}

/* Typography styles */
h1 {
    font-family: 'Google Font', sans-serif;
    font-size: 32px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

h3 {
    font-size: 18px;
    font-weight: bold;
}

/* Contact link style */
footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    border-bottom: 2px solid #fff;
}

/* Media Query for Small Screens */
@media only screen and (max-width: 600px) {
    nav ul {
        justify-content: space-around; /* Center-align navigation items on small screens */
    }

    nav li {
        margin-right: 0;
        text-align: center; /* Center-align navigation text on small screens */
    }
}
